.roboto-font-400 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  background-color: hsl(0, 0%, 52%);
}

.nav-container {
  background-color: hsl(0, 0%, 15%);
  max-width: 100%;
  padding: 20px 10px;
  color: hsl(180, 100%, 96%);
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container a {
  font-size: 1.6em;
  text-decoration: none;
  color: hsl(180, 100%, 96%);
  padding-left: 20px;
}

.dropdown-buttons {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.main-section {
  margin-top: 20px;
}

.column-cards {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: start;
  align-items: center;
}

.card-highlight {
  transition: all 0.2s ease-in-out;
}

.card-highlight:hover {
  box-shadow: 0 0 5px hsl(0, 0%, 22%);
  transform: scale(105%);
  cursor: pointer;
}

.card-active {
  border: 3px solid blue;
}

.card-almost-due {
  background-color: hsl(60, 100%, 81%);
}

.card-completed {
  background-color: hsl(133, 100%, 81%);
}

.card-past-due {
  background-color: hsl(0, 100%, 81%);
}

.drop-highlight {
  border: 3px solid rgb(46, 46, 46);
  border-radius: 5px;
}

#concept-cards {
  min-height: 100%;
  padding-bottom: 100px;
}

#progress-cards {
  min-height: 100%;
  padding-bottom: 100px;
}

#review-cards {
  min-height: 100%;
  padding-bottom: 100px;
}

#completed-cards {
  min-height: 100%;
  padding-bottom: 100px;
}

.delete-card-button {
  width: auto;
  height: auto;
  background-color: transparent;
  display: flex;
  justify-content: end;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  h4 {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 768px) {
  h4 {
    font-size: 1em;
  }
}
