.roboto-font-400 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  background-image: url("../images/backgroundTexture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.nav-container {
  background-color: hsl(0, 0%, 15%);
  max-width: 100%;
  padding: 20px 10px;
  color: hsl(180, 100%, 96%);
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container a {
  font-size: 1.6em;
  text-decoration: none;
  color: hsl(180, 100%, 96%);
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.logo-container h6 {
  padding-left: 20px;
}

.dropdown-buttons {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.main-section {
  margin-top: 20px;
}

/* .list-headers {
  width: 25%;
} */

.list-header-h4 {
  /* background-color: hsl(208, 77%, 97%); */
  /* border: 1px solid black; */
  position: relative;
  padding: 10px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0;
  backdrop-filter: blur(10px);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2),
    inset 0 -2px 5px rgba(255, 255, 255, 0.5), 0 5px 10px rgba(0, 0, 0, 0.3);
}

.list-header-div {
  /* background-color: hsl(208, 100%, 97%); */
  position: relative;
  padding: 20px 5px;
  margin: 0;
  /* border: 1px solid black; */
  min-height: 750px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  backdrop-filter: blur(10px);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2),
    inset 0 -2px 5px rgba(255, 255, 255, 0.5), 0 5px 10px rgba(0, 0, 0, 0.3);
}

.list-item {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  border: none;
  background-color: hsl(0, 4%, 85%);
  border-radius: 10px;
  padding: 10px;
  min-height: 150px;
  user-select: none;
  z-index: 50;
  text-align: center;
  /* transition: all 0.2s ease-in-out; */
}

.list-item h4,
.list-item p {
  margin-bottom: 0;
}

.list-item:hover,
.list-item:active {
  box-shadow: 0 0 5px gray;
  transform: scale(101%);
}

.list-date {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.2em;
}

.list-date h6 {
  margin: 0;
}

.column-cards {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: start;
  align-items: center;
}

.card-highlight {
  transition: all 0.2s ease-in-out;
}

.card-highlight:hover {
  box-shadow: 0 0 5px hsl(0, 0%, 22%);
  transform: scale(105%);
  cursor: grab;
}

.card-active {
  border: 3px solid blue;
}

.card-almost-due {
  background-color: hsl(60, 100%, 81%);
}

.card-completed {
  background-color: hsl(133, 100%, 81%);
}

.card-past-due {
  background-color: hsl(0, 100%, 81%);
}

.drop-highlight {
  border: 3px solid rgb(46, 46, 46);
  border-radius: 5px;
}

#progressCards,
#toDoCards,
#completedCards {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-height: 600px;
  margin-bottom: 10px;
}

.sorting-ui {
  margin-bottom: 10px;
  list-style-type: none;
  background-color: hsl(60, 100%, 80%);
  border: 1px solid hsl(240, 100%, 59%);
  height: 150px;
}

.cardButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.editButton {
  background-color: hsl(133, 100%, 81%);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.editButton:hover {
  background-color: hsl(133, 100%, 91%);
  box-shadow: 0 0 5px hsl(0, 0%, 22%);
}

.editButton:active {
  background-color: hsl(133, 43%, 55%);
  box-shadow: none;
}

.deleteButton {
  background-color: hsl(0, 100%, 81%);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.deleteButton:hover {
  background-color: hsl(0, 100%, 91%);
  box-shadow: 0 0 5px hsl(0, 0%, 22%);
}

.deleteButton:active {
  background-color: hsl(0, 43%, 55%);
  box-shadow: none;
}

@media only screen and (max-width: 1200px) {
  h4 {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 768px) {
  h4 {
    font-size: 1.5em;
  }

  .list-header-div {
    margin-bottom: 20px;
  }
}
