.roboto-font-400 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  background-color: hsl(0, 0%, 52%);
}

.nav-container {
  background-color: hsl(0, 0%, 15%);
  max-width: 100%;
  padding: 20px 10px;
  color: hsl(180, 100%, 96%);
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container a {
  font-size: 1.6em;
  text-decoration: none;
  color: hsl(180, 100%, 96%);
}

.dropdown-buttons {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
